#include<iostream>


int main ()


{
#include mainspace;



double useless, 
       lame,
       yep nope,
     

cout <<"How old are you>" endl;
cin >>"useless;
cout <<"What is your height(In inches)?"<< endl; 
cin >> lame;
cout <<" are these correct?"<< lame << "and" << useless"endl
cin >> yep poop;
cout <<" yep I"m sorry but you're gay......data doesn't lie" endl;





















return 0;






}
